body{
    font-family: Arial;
    background-color: blanchedalmond
}

#play-buttons{
    height: 30%;
    display: flex;
    justify-content:space-evenly;
}



#play-buttons button{
    border-radius: 20%;
    margin: 5px;
    padding: 5px;
    width: 25%;
    height: 200px;
    font-size: 50px;
}
.rock{
    background-color: black;
    color: whitesmoke;
}

.paper{
    background-color: gray;
}

.scissors{
    background-color: whitesmoke;
}

.game-message{
    background-color: gray;
}

.game-message p{
    border: 2px solid black;
    padding: 16px 0px;
    margin: 0;
    font-weight: bold;
    padding-left: 10px;
}