*{
    font-family: Arial;
    background-color: blanchedalmond
}

#play-buttons{
    height: 30%;
    display: flex;
    justify-content:space-evenly;
}



#play-buttons button{
    border-radius: 20%;
    margin: 5px;
    padding: 5px;
    width: 25%;
    height: 200px;
    font-size: 50px;
}
.rock{
    background-color: black;
    color: whitesmoke;
}

.paper{
    background-color: gray;
}

.scissors{
    background-color: whitesmoke;
}

